/.idea/.idea.c-sharp-projects/.idea/.name
/.idea/.idea.c-sharp-projects/.idea/encodings.xml
/.idea/.idea.c-sharp-projects/.idea/indexLayout.xml
/.idea/.idea.console-store/.idea/vcs.xml
/.idea/.idea.console-store/.idea/workspace.xml
